html,body{
  height: 100%;
  width: 100%;
  font-size: 60px;
}

html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,table{
  margin:0;
  padding:0;
}

.lock-container{
  height: 100%;
}

.lock-container>h2{
  font-family: "Microsoft Yahei";
  font-size: 1rem;
  text-align: center;
}

.lock-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 60%;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10% 0px;
}

.lock-item{
  border-radius: 100%;
  border: 1px solid #000;
  width: 3rem;
  height: 3rem;
  margin: 0rem 0.5rem;
}

.lock-item.selected{
  background-color: #E06C75;
}

.switch-btn-group>button{
  font-family: "Microsoft Yahei";
  font-size: 0.8rem;
  font-family: "Microsoft Yahei";
  display: block;
  margin: 50px auto;
  padding: 20px 0;
  width: 80%;
  border: none;
  background-color: #eee;
  color: #fff;
}

.btn.active{
  background-color: #0B71A5;
}

.help-display{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 0.5rem;
  padding: 5px;
}

.line-canvas{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
}

.tips-box{
  position: absolute;
  z-index: 999;
  width: 80%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border: 1px solid #0B71A5;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  display: none;
}

.tips-title{
  background-color: #3879D9;
  color: #fff;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tips-content{
  padding: 1rem;
}

.tips{
  text-align: center;
  height: 1rem;
}
