<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./com_uploader.css">
    </head>
    <body>
        <div id="app">
            <file-uploader></file-uploader>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="./com_uploader.js"></script>
        <script>
        window.onload = function(){
            // 实例化vue对象
            var app = new Vue({
                el: '#app',
                data: {},
                methods: {}
            });
        };
        </script>
    </body>
</html>